
body {
  font-family: century gothic, sans-serif;
    width: 100%;
    font-weight: 300;
    background-color: #EEEEEE;

}


nav {
  width: 100%;
  /*height: 50px;*/
  
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0D5D66;
  margin-bottom: 70px;

}


.copyright{
    background-color:#f0f0f0;
}

.copyright p{
   margin:15px 0px;
}

footer{
  width: 100%;
  height: 50px;
  background-color:#00404C;
  margin-top: 100px;
  padding: 60px 0px;
}

footer .menu li a{
  color:#FFFFFF;
  padding:10px;
  text-decoration:none;
}

footer .menu li a:hover{
  color:#FFD54F;
}

.icon-facebook, .icon-twitter , .icon-instagram {
  color:#FFFFFF;
  font-size:20px;
  padding:10px;
}


.icon-facebook:hover , .icon-twitter:hover  , .icon-instagram:hover  {
  color:#FFCA28;
}


/*    PROPOSER    */
.containe{
  background-color: #D6CBC7;
}
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

